<div class="main-content">
    <div class="container-fluid">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Queue Managers</h4>
                        <p class="card-category"> Available Queue Managers</p>
                    </div>
                    <div class="card-body row">

                        <div *ngFor="let queueManager of queueManagers" class="card col-md-4">
                            <div class="card-header card-header-danger">
                                <h4 class="card-title ">{{queueManager.queueManagerName}}</h4>
                                <p class="card-category"> {{queueManager.hostName}}</p>
                            </div>
                            <div class="card-body">
                                <button type="button" (click)="openQueueManager(queueManager.hostName, queueManager.queueManagerName)"
                                    class="btn btn-danger btn-circle btn-xl"><i class="fa fa-heart"></i></button>
                               
                            </div>
                        </div>

                    </div>
                </div>
        </div>
    </div>
</div>