<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="card card-stats">
        <div class="card card-stats">
            <div class="card-icon">
              <h3 class="card-title">
              </h3>
              <div class="stats">
                  <i class="material-icons text-info">info</i>
                  <p>QUEUE MANAGER {{queueManager.queueManagerName}} IS HEALTHY</p>
                </div>
            </div>
          
        </div>
        <div class="table-responsive">
          <table class="table text-nowrap">
            <thead>
            <tr>
              <th>Queue Name</th>
              <th>Connected clients</th>
              <th>Queue Depth</th>
              <th>Status</th>
              <th class="text-center" style="width: 20px;"><i class="icon-arrow-down12"></i></th>
            </tr>
            </thead>
            <tbody>
   
            <tr *ngFor="let queue of queueManager.queues" >
              <td>
                <div class="d-flex align-items-center">
                  <div>
                    <button type="button" (click)="openQueue(queue.name)"
                    class="btn">{{ queue.name }}</button>
                    <!--<div class="text-muted font-size-sm"><i class="icon-checkmark3 font-size-sm mr-1"></i> {{ queue.name }}</div>-->
                  </div>
                </div>
              </td>
              <td>{{ queue.properties['MQIA_OPEN_INPUT_COUNT']}}</td>
              <td>{{ queue.queueDepth }}</td>
              <td *ngIf="queue.breaches.length <= 0">
                <i class="material-icons md-48 tomato">
                  favorite
                </i>
              </td>
              <td *ngIf="queue.breaches.length > 0">
                <a class="nav-link" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="notification">{{queue.breaches.length}}</span>
                  <i class="material-icons md-48 orange600">
                    cloud_off
                  </i>
                  <!--<i class="material-icons">sentiment_very_dissatisfied</i>-->
                  <p>
                    <span class="d-lg-none d-md-block">Some Actions</span>
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#" *ngFor="let breach of queue.breaches">
                    {{breach['threshold'].name}}
                  </a>
                </div>
              </td>
            </tr>
     

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
