<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title ">{{queue.name}}</h4>
        <p class="card-category">On {{queue.queueManager.queueManagerName}}</p>
      </div>
      <div class="card-body row">

        <div class="card col-md-6">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Properties</h4>
            <p class="card-category"> Properties</p>
          </div>
          <div class="card-body">
            <ul>
              <li *ngFor="let item of generateArray(queue.properties)">{{item.key}}: {{item.value}}</li>
            </ul>

          </div>
        </div>
        <div class="card col-md-6">
          <div class="card-header card-header-danger">
            <p class="card-category"> {{queue.thresholds.length}} Thresholds defined</p>
            <h4 class="card-title ">Add Threshold</h4>
          </div>
          <div class="card-body">
            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" [(ngModel)]="threshold.name" #name="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required />
                <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                  <div *ngIf="name.errors.required">Name is required</div>
                </div>
              </div>
              <div class="form-group">
                <label for="mqPropertyName">Property Name</label>
                <!--
                <input type="text" class="form-control" name="mqPropertyName" [(ngModel)]="threshold.mqPropertyName"
                  #mqPropertyName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && mqPropertyName.invalid }"
                  required />
                  -->
                <select class="form-control" name="mqPropertyName" [(ngModel)]="threshold.mqPropertyName"
                  #mqPropertyName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && mqPropertyName.invalid }"
                  required>
                  <option *ngFor="let item of generateArray(queue.properties)" value="{{item.key}}">{{item.key}}</option>
                </select>

                <div *ngIf="f.submitted && mqPropertyName.invalid" class="invalid-feedback">
                  <div *ngIf="mqPropertyName.errors.required">MQ Property Name is required</div>
                </div>
              </div>
              <div class="form-group">
                <label for="condition">Condition</label>

                <select name="condition" class="form-control" [(ngModel)]="threshold.condition" #condition="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && condition.invalid }" required>
                  <option value="">---Please select---</option>
                  <option value="GREATER_THAN">GREATER_THAN</option>
                  <option value="LESS_THAN">LESS_THAN</option>
                  <option value="EQUALS">EQUALS</option>
                </select>

                <div *ngIf="f.submitted && condition.invalid" class="invalid-feedback">
                  <div *ngIf="condition.errors.required">Condition is required</div>
                  <div *ngIf="condition.errors.email">condition must valid</div>
                </div>
              </div>



              <div class="form-group">
                <label for="value">Value</label>
                <input type="value" class="form-control" name="value" [(ngModel)]="threshold.value" #value="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && value.invalid }" required />
                <div *ngIf="f.submitted && value.invalid" class="invalid-feedback">
                  <div *ngIf="value.errors.required">Value is required</div>
                  <div *ngIf="value.errors.minlength">Value</div>
                </div>
              </div>


              <div class="form-group">
                  <label for="alertType">Alert Type</label>
  
                  <select name="alertType" class="form-control" [(ngModel)]="threshold.alertType" #alertType="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && alertType.invalid }" required>
                    <option value="NONE">NONE</option>
                    <option value="SLACK">SLACK</option>
                    <option value="EMAIL">EMAIL</option>
                    <option value="WHATSAPP">WHATSAPP</option>
                    <option value="COMMAND_CENTER">COMMAND_CENTER</option>
                  </select>
  
                  <div *ngIf="f.submitted && condition.invalid" class="invalid-feedback">
                    <div *ngIf="condition.errors.required">Alert Type is required</div>
                    <div *ngIf="condition.errors.email">Alert Type must valid</div>
                  </div>
                </div>
              <div class="form-group">
                <button class="btn btn-primary">Add Threshold</button>
              </div>
            </form>

          </div>
        </div>


        <br />





        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Thresholds</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table text-nowrap">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>MQ Property Name</th>
                    <th>Condition</th>
                    <th>Value</th>
                    <th>Alert Type</th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let threshold of queue.thresholds">
                    <td>
                      <div class="d-flex align-items-center">
                        <span>
                          {{ threshold.name }}
                        </span>
                      </div>
                    </td>
                    <td>{{ threshold.mqPropertyName}}</td>
                    <td>{{ threshold.condition }}</td>
                    <td>{{ threshold.value }}</td>
                    <td>{{ threshold.alertType }}</td>
                  </tr>


                </tbody>
              </table>
            </div>

          </div>
        </div>










      </div>
    </div>
  </div>
</div>